@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    min-width: 0;
  }

  #main div {
    -ms-flex: 1; /* IE 10 */
    flex: 1;
  }

  body {
    line-height: 1.5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    color: #222;
    background-color: #fff;
  }
  
  iframe {
    display: block;
  }
}
