@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    min-width: 0;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to top left, #0f4e2e, #7ee27e);
    color: black;
  }

  #main, .full-screen {
    width: 100%;
    height: 100%;
  }

  .full-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: inherit; /* Use the parent's background */
    text-align: center;
    padding: 1rem;
  }

  .column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%; /* Limit the container's width for better appearance on large screens */
    margin: 0 auto;
  }

  iframe {
    display: block;
  }

  /* Responsive video container */
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 40%; /* Limit the width on larger screens */
    background: #000;
    margin: 0 auto;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .video-caption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem; /* Ensure readable font size */
    color: #fff; /* White color for visibility on a black background */
  }

  h1, h2, h3, p {
    margin: 0 0 1rem 0; /* Add margin to space out the elements */
  }

  .link {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .link a {
    color: #0070f3;
    text-decoration: none;
  }

  .link a:hover {
    text-decoration: underline;
  }
}